<%-include("header")-%>
<h2>Hello, World!</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi impedit aspernatur, tempore itaque quam, quibusdam iste soluta consequatur beatae, labore totam repellat doloribus. Doloribus eos ut quasi accusamus repudiandae blanditiis eveniet, libero asperiores itaque.</p>
<%-include("footer")-%>